﻿@model IEnumerable<NewProjected.Models.BookingItems>

@{
    ViewBag.Title = "Index";
}

<h2>Booked Facilities</h2>
@if (Model.Count()>0) 
{
<button>
    <a href="@Url.Action("NewOrder", "Vehicles")">
       Place Order
    </a>
</button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(model => item.ItemName)
    </th>
    <th>
        @Html.DisplayFor(model => item.PickupDate)
    </th>
    <th>
        @Html.DisplayFor(model => item.ReturnDate)
    </th>
    <th>
        @Html.DisplayFor(model => item.Deposit)
    </th>
    <th>
        @Html.DisplayFor(model => item.Rental)
    </th>
    <th>
        @Html.DisplayFor(model => item.Quantity)
    </th>
</tr>
}
</table>
