﻿
@model IEnumerable<NewProjected.Models.BookingItems>


<h2>Cakes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CakeMessage)
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <th>
        @Html.DisplayFor(model => item.ItemName)
    </th>
    <th>
        @Html.DisplayFor(model => item.PickupDate)
    </th>
    <th>
        @Html.DisplayFor(model => item.CakeMessage)
    </th>
    <th>
        @Html.DisplayFor(model => item.Rental)
    </th>

</tr>
    }
</table>
