﻿@model IEnumerable<NewProjected.Models.Order>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
@{
    ViewBag.Title = "Order Details";
}

    <h2>My Order Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>

        @if (User.IsInRole("Admin"))
        {
    <th>
        @Html.DisplayName("User Email") 
    </th>}
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderTotal)
    </td>
    @if (User.IsInRole("Admin"))
    {
        <td>
         @Html.DisplayFor(model => item.UserID)
        </td>
    }
    <td>
@Html.DisplayName(item.Status) 

    </td>

    <td>
        <a href="@Url.Action("PaymentDetails", "Vehicles", new {  id = item.OrderID  })">
            <button>
              View Order Details
            </button>
        </a>
    </td>

</tr>
}

</table>
