﻿@model NewProjected.Models.BookingItems

@{
    ViewBag.Title = "New Booking";
}

    <h2>Event Details</h2>


@using (Html.BeginForm("NewCake","Tents",FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>
        Name :   @Html.DisplayFor(model => model.ItemName)
    </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.EventID, "EventID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EventID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EventID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.PickupDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PickupDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PickupDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CakeMessage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CakeMessage, new { htmlAttributes =  new {  @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CakeMessage, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add to Order" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
