﻿@model  NewProjected.Models.Payments

@{
    ViewBag.Title = "Create";
}

<h2>New Payment</h2>


@using (Html.BeginForm("Create", "Payment",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @*<h4>New Payment</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.orderID)
  
        <div class="form-group">
            @Html.LabelFor(model => model.AmountPayed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountPayed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountPayed, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
