﻿@{
    ViewBag.Title = "Home Page";
}


<div class="center-block">
    <h1 style="color:navy"> <a><img src="~/Content/imge/logo3.png" style="height:20%; width:20%" class="left" /></a> <strong>Exquisite Caterers</strong></h1>
    <hr />


</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:navy"><strong>Do you have an up comming Event?</strong></h2>
        <p style="color:palevioletred">
            <i>

                <h1 style="color:deepskyblue">Look no futher. We can take care of your event Trust only the best with your event!!!</h1>
            </i>
            You can find us on:<br />
            28 Protea East<br />
            Mellvile<br />
            4091


        </p>
    </div>
</div>


